<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="inventarioreal.com.inventarioreal_admin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity android:name=".pages.Inventario.InventariosColaborativos.InventariosColaborativosHome"></activity>
        <activity android:name=".pages.Inventario.InventariosColaborativos.Crear.Step1.CrearInventarioColaborativoStep1" />
        <activity android:name=".pages.Inventario.InventarioParcial.VisualizarConsolidados.Step1.VisualizarInventariosConsolidadosStep1" />
        <activity android:name=".pages.Inventario.InventarioParcial.VisualizarPorZona.Step2.VisualizarInventarioPorZonaStep2" />
        <activity android:name=".pages.Inventario.InventarioParcial.VisualizarPorZona.Step1.VisualizarInventarioPorZonaStep1" />
        <activity android:name=".pages.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pages.Login" />
        <activity android:name=".pages.Home" />
        <activity android:name=".pages.IngresoMercancia" />
        <activity android:name=".pages.Inventario.InventarioParcial.InventarioParcialHome" />
        <activity android:name=".pages.Inventario.InventarioParcial.CrearInventario.Step1.CrearInventarioStep1" />
        <activity android:name=".pages.Inventario.InventarioParcial.CrearInventario.Step2.CrearInventarioStep2" />
        <activity android:name=".pages.Inventario.InventarioParcial.ConsolidarInventario.ConsolidarInventarioStep1" />
    </application>

</manifest>